<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
      {{>navbar}}
       <!-- main header -->
       <div class="container-fluid main_header">
          <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                                <!-- left-side div -->
                                <div class="col-md-6 col-12 main_header_right ">
                                    <figure>
                                       <img src="images/about.png" alt="Anjali Tejasvi" class="img-fluid" title="Anjali Tejasvi">
                                    </figure>
                                   </div>
                                <div class="col-md-6 col-12 main_header_left">
                                  <p> I work with client side and server side javascript programming which includes node js.</p>
                                  <h2>I am a <span class="textColor">MERN Stack Developer.</span></h2>
                                  <a href="https://github.com/anjali-tejasvi" target="_anjali"><button>projects</button></a>
                                </div>
                                  <!-- right-side div -->
                                
                </div>
              </div>
            </div>
        </div>

        {{>footer}}